/* styles.css */

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}

::-webkit-scrollbar {
    background-color: #121826;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #212936;
    border-radius: 15px;
}

body,
html,
section {
    user-select: none;
    height: 100vh;
    background-color: #121826;
}

.draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.not-draggable {
    -webkit-app-region: no-drag;
}

#dapp {
    z-index: 1;
}

#search {
    z-index: 1;
}

.box0 {
  background-color: #c52955;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.box1 {
  background-color: #3b888b;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.box2 {
  background-color: #6f6bb7;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}